In [3]:
import netCDF4 as nc
import pandas as pd

In [7]:
path = "/home/aadrian/Documents/Clim_map/data/fire/Fire_Season_Length__RCP8.5_2031-2060_.nc"

In [8]:
ds = nc.Dataset(path)

# Iterate over variables and display examples of data
for variable_name in ds.variables:
    variable = ds.variables[variable_name]
    print(f"Variable: {variable_name}")
    print(f"Dimensions: {variable.dimensions}")
    print(f"Shape: {variable.shape}")
    print(f"Data type: {variable.dtype}")
    # Display the first 5 elements of the variable's data
    print(f"Example data: {variable[:5]}")
    print("-" * 40)

# Close the dataset
ds.close()

Variable: lon
Dimensions: ('lon',)
Shape: (190,)
Data type: float64
Example data: [-144.75020373 -144.25061119 -143.75101865 -143.2514261  -142.75183356]
----------------------------------------
Variable: fire_season
Dimensions: ('lat', 'lon')
Shape: (65, 190)
Data type: float32
Example data: [[-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- --]
 [-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  244.9420166015625 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- --]
 [-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  240.0740203857422 245.0986785888672 -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --]
 [-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  236.4367218017578 237.13734436035156 238.2086944580078 -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --]
 [-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
  236.4367218017578 237.13734436035156 238.2086944580078 -- -- -- -- --
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --]]
----------------------------------------
Variable: lat
Dimensions: ('lat',)
Shape: (65,)
Data type: float64
Example data: [43.12756739 43.62715993 44.12675247 44.62634501 45.12593755]
----------------------------------------
Variable: period
Dimensions: ('string9',)
Shape: (9,)
Data type: |S1
Example data: [b'2' b'0' b'3' b'1' b'-']
----------------------------------------
Variable: ensemble_statistic
Dimensions: ('string4',)
Shape: (4,)
Data type: |S1
Example data: mean
----------------------------------------
Variable: spatial_ref
Dimensions: ()
Shape: ()
Data type: int32
Example data: 0
----------------------------------------

In [9]:
import netCDF4 as nc

# Open the NetCDF file
dataset= nc.Dataset(path)
# Display dimensions
print("Dimensions:")
for dim_name, dimension in dataset.dimensions.items():
    print(f"{dim_name} = {len(dimension)}")

# Display variables
print("\nVariables:")
for var_name, variable in dataset.variables.items():
    print(f"{var_name}({', '.join(variable.dimensions)})")
    for attr in variable.ncattrs():
        print(f"    {attr} = {variable.getncattr(attr)}")


# Close the dataset
dataset.close()

Dimensions:
lon = 190
lat = 65
string9 = 9
string4 = 4

Variables:
lon(lon)
    axis = X
    long_name = longitude
    standard_name = longitude
    units = degrees_east
    _FillValue = nan
fire_season(lat, lon)
    short_name = fire_season
    long_name = Fire Season Length
    cell_methods = time: count within years time: mean over years (interval: 1 year)
    description = Number of days in the annual fire season based on temperature thresholds (when there is measurable fire danger and fire weather calculations are turned on).
    units = days
    _ChunkSizes = [ 13  67 190]
    RCP = RCP8.5
    coordinates = warming_level
    _FillValue = nan
    grid_mapping = spatial_ref
lat(lat)
    axis = Y
    long_name = latitude
    standard_name = latitude
    units = degrees_north
    _FillValue = nan
period(string9)
    _Encoding = utf-8
ensemble_statistic(string4)
    _Encoding = utf-8
spatial_ref()
    crs_wkt = GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AXIS["Latitude",NORTH],AXIS["Longitude",EAST],AUTHORITY["EPSG","4326"]]
    semi_major_axis = 6378137.0
    semi_minor_axis = 6356752.314245179
    inverse_flattening = 298.257223563
    reference_ellipsoid_name = WGS 84
    longitude_of_prime_meridian = 0.0
    prime_meridian_name = Greenwich
    geographic_crs_name = WGS 84
    horizontal_datum_name = World Geodetic System 1984
    grid_mapping_name = latitude_longitude
    spatial_ref = GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AXIS["Latitude",NORTH],AXIS["Longitude",EAST],AUTHORITY["EPSG","4326"]]
    GeoTransform = -145.0 0.4995925414465988 0.0 75.35128631072897 0.0 -0.4995925414465988

In [34]:
ds= nc.Dataset(path)

lat = ds.variables['lat']
lon = ds.variables['lon']
szn_len = ds.variables['fire_season']

In [37]:
szn_len.dimensions

('lat', 'lon')

In [38]:
lo_lat = [i.data.item() for i in lat]
lo_lon = [i.data.item() for i in lon]

In [65]:
lo_szn_len = []
for lon in lo_lon:
    lon_szn_len = szn_len[:,lon]
    lo_szn_len.append(lon_szn_len.data)
sznlen_df = pd.DataFrame(lo_szn_len)
sznlen_df.columns = lo_lat
sznlen_df.index = lo_lon
sznlen_df = sznlen_df.reset_index().melt(id_vars = 'index', var_name = 'lat', value_name='szn_len')
sznlen_df.rename(columns={'index':'lon'},inplace=True)
sznlen_df

              lon        lat  szn_len
0     -144.750204  43.127567      NaN
1     -144.250611  43.127567      NaN
2     -143.751019  43.127567      NaN
3     -143.251426  43.127567      NaN
4     -142.751834  43.127567      NaN
...           ...        ...      ...
12345  -52.325584   75.10149      NaN
12346  -51.825991   75.10149      NaN
12347  -51.326398   75.10149      NaN
12348  -50.826806   75.10149      NaN
12349  -50.327213   75.10149      NaN

[12350 rows x 3 columns]

In [66]:
sznlen_df.to_csv('szn_len.csv')